.topnavbar {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgb(196, 243, 243) 0%,
    rgba(236, 226, 238, 0.838) 59%
  );
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  overflow: hidden;
  z-index: 20;
  height: 20%;
  width: 100%;
  top: 0;
  
}

.sourceimage {
  text-align: right;
  

  .inlinesourceimage {
    width: 20%;
    border-radius: 50%;
    background-color: rgb(156, 148, 148);
  }
}

//second nav bar
.bottomnavbar{
  background: rgb(135, 230, 230);
  background: linear-gradient(
    0deg,
    rgb(194, 235, 235) 0%,
    rgba(179, 130, 170, 0.838) 59%
  );
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  overflow: hidden;
  z-index: 40;
  height: 6%;
  width: 100%;
  top: 4rem;
  
}
.onhovering{
  font-weight: bold;
  transition: transform .2s;
  text-decoration-line: underline;
}
.onhovering:hover{
  transform: scale(0.9); 
}
.bolds{
  font-weight: bold;
}

// .cards{
//   transition: transform .2s;
//   height: 25rem;
// }

// .cards:hover{
//   transform: scale(.9); 
// }

// .card{
//   padding-top: 1rem;
//   height: 30rem;
// }
.logoutbutton{
  color: red;
  margin-left: 1rem;
  
}
.hoverbuttons{
display: flex;
}
.contents{
  height: 10rem;
  
}
.cards{
border: 0.4px solid ;
border-color: rgb(209, 193, 203);
border-radius: 8px;
padding: 1rem;
}





